//TEXT STYLES
$naHugeFontSize: 54px;
$naHugeFontWeight: 700;
$naHugeLineHeight: 70px;

$naExtraHugeFontSize: 108px;
$naExtraHugeFontWeight: 500;

$naHeaderFontSize: 32px;
$naHeaderFontWeight: 600;
$naHeaderLineHeight: 40px;

$naH1FontSize: 24px;
$naH1FontWeight: 700;
$naH1LightFontWeight: 400;
$naH1LineHeight: 28px;

$naH2FontSize: 20px;
$naH2FontWeight: 500;
$naH2LineHeight: 24px;

$naH3FontSize: 18px;
$naH3FontSmallSize: 14px;
$naH3FontWeight: 500;
$naH3FontBoldWeight: 700;
$naH3LineHeight: 21px;

$naH4FontSize: 16px;
$naH4NormalFontWeight: 400;
$naH4FontBoldWeight: 600;
$naH4FontWeight: 500;
$naH4LineHeight: 19px;

$naH5FontSize: 13px;
$naH5FontWeight: 500;
$naH5BoldFontWeight: 700;
$naH5LineHeight: 15px;

$naH6FontSize: 11px;
$naH6SmallFontSize: 10px;
$naH6FontWeight: 500;
$naH6LineHeight: 13px;

$naTemperatureHugeFontSize: 110px;
$naTemperatureHugeFontWeight: 300;

$naBodyFontSize: 15px;
$naBodyFontWeight: 400;
$naBodyLineHeight: 24px;

$naParagraphFontSize: 13px;
$naParagraphFontWeight: 400;
$naParagraphFontWeightMedium: 500;
$naParagraphFontWeightBold: 700;
$naParagraphLineHeight: 19px;
