.home-content {
  --padding-top: calc(var(--ion-safe-area-bottom) + 24px);
  --padding-start: 24px;
  --padding-end: 24px;

  .home-header {
    padding-bottom: 36px;
    .home-toolbar {
      .home-title {
        border-bottom: 1px solid var(--ion-color-medium);
        padding-bottom: 25px;
      }
    }
  }

  .home-content-main {
    height: 100%;
    overflow-y: auto;
  }
}
